{% extends 'worksheetmaker/base.html' %}

{% block content %}

<div class="hero">
    <h1>Math Worksheet Generator</h1>
    <p>Create basic addition, subtraction, multiplication and division practice questions with the answer sheet</p>
    <p>Based on the <a href="https://github.com/januschung/math-worksheet-generator">Math worksheet generator CLI tool</a> by <a href="https://github.com/januschung/">januschung</a></p>
    
    <div class="btn-group">
        <a class="btn btn--primary" href="#generate">
            Create one for yourself
        </a>
        <a href="https://github.com/ar363/math-worksheet-generator-webapp" class="btn">
            View this project on Github
        </a>
    </div>
</div>

<form action="/generate" method="GET" id="generate">

    <div>
        <label for="qcount">Number of questions (Max: 1200)</label>
        <input type="number" name="qcount" id="qcount" min="1" max="1200" value="80" required class="number-input">
    </div>
    
    <div>
        <label for="digits">Number of max digits (1 to 3)</label>
        <input type="number" name="digits" id="digits" max="3" min="1" value="2" required class="number-input">
    </div>

    <fieldset class="checkbox-group">
        <legend>Include sums for</legend>
        <div>
            <input type="radio" name="calc_type" id="add" value="+">
            <label for="add">Addition</label>
        </div>

        <div>
            <input type="radio" name="calc_type" id="sub" value="-">
            <label for="sub">Subtraction</label>
        </div>

        <div>
            <input type="radio" name="calc_type" id="mul" value="x">
            <label for="mul">Multiplication</label>
        </div>

        <div>
            <input type="radio" name="calc_type" id="div" value="/">
            <label for="div">Division</label>
        </div>

        <div>
            <input type="radio" name="calc_type" id="mix" value="mix" checked>
            <label for="mix">Mix of all</label>
        </div>
    </fieldset>


    <button type="submit" class="btn btn--primary">Generate</button>
</form>

{% endblock %}
